.transition {
}
.transition.t-fade-in {
  animation: fade 1s ease forwards;
}

@keyframes t-fade-in {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
@keyframes t-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes t-zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes t-zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes t-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes t-slide-right {
  from {
    transform: translateX(500%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes t-slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes t-fade-in-slow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes t-blink {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.init {
  opacity:0;
}

.execute {
  opacity:1;
}